@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body{
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
}

h2, h3{
	color: #000000;
}

nav a{
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
}

nav a:hover{
	font-weight: bold;
}

footer{
	padding: 10px;
	color: white;
	background-color: #0d1724;
	text-align: center;
	font-weight: bold;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 25px;
	margin-top: 25px;
}

.jumbotron{
	font-size: 20px;
	padding: 50px;
	background-color: #0d1724;
	text-align: right;
	color: white;

}

nav li{
	display: inline;
	margin-right: 10px;	
	
}

nav a{
	font-size: 25px;
	font-weight: 400;
	text-decoration: none;
	color: black;

}
 nav{
 	background-color: #51557e; 
 	padding: 3px;

 }

 main{
 	padding: 15px;
 	overflow: auto;
 }

 .profile card{
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
 }
 .profile img{
 	width: 200px;
 }

 nav{
 	position: sticky;
 	top: 0;
 	padding: 3px;

 }

header{
	display: inline;
}

.logo{
	color: white;
	line-height: 30px;
	font-size: 30px;
	text-decoration: none;
	margin-left: 10px;
	float: left;
	font-weight: bold;

}
.text{
	font-size: 20px;
}

#content{
	float: left;
	width: 75%;
}

aside{
	float: right;
	width: 25%;
	padding-left: 20px;
}

@media screen and (max-width:  1000px){
	#content,
aside{
	width: 100%;
	padding: 0;
}

}
*{
	box-sizing: border-box;
}